 *{
    box-sizing: border-box;
 }
 
 body{
    background-color: #0c0c13;
    margin: 0px;
    color: white;
} 

.btn-container{
    /* background-color: #0c0c13; */
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.light{
    background-color: wheat;
    color: black;
}

.dark{
    background-color: #0c0c13;
    color: white;
}

.red{
    background-color: #9E0031;
    color: black;
}

.text-div{
    min-height: 100vh;
    /* background-color: #0c0c13;
    color: white; */
    background-color: inherit;
    color: inherit;
    outline: none;
}

